# Copyright (C) 2018 Sebastian Pipping <sebastian@pipping.org>
# Licensed under the MIT license

networks:
  ssl-reverse-proxy:
    external: true

services:
  images-gentoo-ev-org:
    build: .
    ports:
      - 127.0.0.1:50380:80
    volumes:
      - ./htdocs/files:/var/www/html/files
    networks:
      - default
      - ssl-reverse-proxy
    restart: unless-stopped
